.ie-panel {
    display: none;
    background: #212121;
    padding: 10px 0;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
    clear: both;
    text-align: center;
    position: relative;
    z-index: 1;
} 
html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel { 
    display: block; 
}
#map {
    height: 100%;
    width: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Estilo del modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Fondo semi-transparente */
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #ffffffc5;
    width: 75%; /* 75% del ancho de la pantalla */
    height: 75%; /* 75% de la altura de la pantalla */
    max-width: 1200px; /* Opcional: ancho máximo */
    max-height: 800px; /* Opcional: altura máxima */
    position: relative;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
}
.modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;/* Color negro con opacidad del 50% */
}


.close {
    color: #000;
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-body{
    height: 100%;
    width: 100%;
}

.contenedor_text_imgs{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.contenedor_text_imgs div{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_gallery{
    display: flex;
    flex-direction: row !important;
    width: 50% !important;
    height: auto !important;
}

.contenedorimages{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_align_start{
    text-align: start;
}

.text_h3_tittle{
    width: 100%;
    text-align: start;
}

.text_align_justify{
    text-align: justify;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #1d1d1d;
    height: 2px;
    width: 100%;
    padding-bottom: 6px;
}


/* ///////////////// */

.btn_gallery {
height: 50px;
margin: 5px;
width: 120px;
background: #333;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
cursor: pointer;
-webkit-box-align: center;
-ms-flex-align: center;
font-weight: 400;
align-items: center;
font-family: a;
border: solid #d8d8d8 1px;
font-size: 18px;
color: #d8d8d8;
-webkit-transition: 500ms;
transition: 500ms;
border-radius: 5px;
background: linear-gradient(145deg, #01b3a7, #01b3a7);
-webkit-box-shadow: -1px -5px 15px #01b3a7, 5px 5px 15px #01b3a7,
    inset 5px 5px 10px #01b3a7, inset -5px -5px 10px #01b3a7;
box-shadow: -1px -5px 15px #01b3a7, 5px 5px 15px #01b3a7,
    inset 5px 5px 10px #01b3a7, inset -5px -5px 10px #01b3a7;
z-index: 2;
margin-top: 10px;
}

.btn_gallery:hover {
-webkit-box-shadow: 1px 1px 13px #d9d9d9, -1px -1px 13px #ededf0;
box-shadow: 1px 1px 13px #d9d9d9, -1px -1px 13px #9095a7;
color: #d8d8d8;
-webkit-transition: 500ms;
transition: 500ms;
}

.btn_gallery:active {
-webkit-box-shadow: 1px 1px 13px #ffffff, -1px -1px 33px #ffffff;
box-shadow: 1px 1px 13px #f5f5f5, -1px -1px 33px #d9d9d9;
color: #d8d8d8;
-webkit-transition: 100ms;
transition: 100ms;
}

.contenedor_btn_gallery{
    width: 100% !important;
    height: 50px !important;
    display: flex;
    justify-content: flex-start !important;
}

.img_gallery_imgs{
    padding: 5px ;
}
  