.ie-panel {
    display: none;
    background: #212121;
    padding: 10px 0;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
    clear: both;
    text-align: center;
    position: relative;
    z-index: 1;
} 
html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel { 
    display: block; 
}
#map {
    height: 100%;
    width: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Estilo del modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Fondo semi-transparente */
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #ffffffc5;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 75%; /* 60% del ancho de la pantalla */
    height: 75%; /* 60% de la altura de la pantalla */
    max-width: 1200px; /* Opcional: ancho máximo */
    max-height: 800px; /* Opcional: altura máxima */
    position: relative;
    display: flex;
    flex-direction: column;
}
.close {
    color: #aaa;
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}